* {
  box-sizing: border-box;
}

html,
body {
  background-color: black;
  color: white;
}

:root {
  --index-bodyBox-mt: 64px;
}

.bodyBox {
  width: 99vw;
  height: calc(97vh - var(--index-bodyBox-mt));
  margin-top: var(--index-bodyBox-mt);
  display: flex;
  padding: 10px;
}

.leftMenu {
  height: 100%;
  width: 200px;
}

.centerBox {
  height: 100%;
  width: 100%;
  flex-grow: 1;
}
