* {
    box-sizing: border-box;
}

html,
body {
    background-color: black;
    color: white;
}

:root {
    --index-bodyBox-mt: 64px;
}


.bodyBox {
    width: 99vw;
    
    height: calc(97vh - var(--index-bodyBox-mt));
    margin-top: var(--index-bodyBox-mt);

    display: flex;
    padding: 10px;
    // justify-content: center;
    // align-items: center;
}

.leftMenu {
    //display: inline-block;
    //margin:5px; 
    height: 100%;
    width: 200px;
    //float: left;
}

.centerBox {
    //margin:5px;
    //display: inline-block;
    height: 100%;
    width: 100%;
    //margin-left: 200px;
    flex-grow: 1;
}