.bd0{border:2px solid #069b94;}
.bd1{border:2px solid #ff0762;}
.bd2{border:2px solid #1aed9f;}
.bd3{border:2px solid #1a5fd8;}
.bd4{border:2px solid #f427b7;}
.bd5{border:2px solid #b5ff47;}
.bd6{border:2px solid #052d60;}
.bd7{border:2px solid #1ca4bf;}
.bd8{border:2px solid #377fe5;}
.bd9{border:2px solid #6d22c1;}
.bd10{border:2px solid #9b2207;}
.bd11{border:2px solid #2fd6ef;}
.bd12{border:2px solid #54d6d8;}
.bd13{border:2px solid #e2ac66;}
.bd14{border:2px solid #9202d1;}
.bd15{border:2px solid #4ec134;}
.bd16{border:2px solid #4f53c6;}
.bd17{border:2px solid #410fd8;}
.bd18{border:2px solid #5512ba;}
.bd19{border:2px solid #bc8c12;}
